.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.gameContainer{
    width: 900px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.gameend{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.canvas{
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(24, 24, 24);
}

.endGameBtn{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: "Montserrat";
    font-size: x-large;
    cursor: pointer;
}

.bottomContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.answerInput{
    transition: 0.2s;
    background-color: rgb(24, 24, 24);
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
    color: white;
    font-family: "Montserrat";
    border-radius:10px ;
    padding-left: 20px;
    box-shadow: 0px 0px 10px black;
    &:hover{
        scale: 1.02;
        box-shadow: 0px 0px 10px rgb(12, 12, 12);
    }
    &:focus{
        scale: 1.02;
        box-shadow: 0px 0px 10px rgb(12, 12, 12);
    }
}

.heartContainer{
    width: 40%;
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.hearts{
    color: rgb(197, 197, 197);
    margin: 2px;
}

.counter{
    color: white;
    font-family: "Montserrat";
    font-size: x-large;
    font-weight: 600;
}

.countDownText{
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}